.App {
  display: flex;
}

.none {
  display: none;
}

.main-container {
  width: 90%;
  height: 700px;
  background: #2C2D30;
  position: relative;
  overflow: hidden;
}

.sidebar {
  width: 30%;
}

.bg {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  object-fit: cover;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg) translate(-165px);
  }
}

.plan {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(16px);
  }
  100% {
    transform: translatey(0px);
  }
}

.glow {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  background-color: #2C2D30;
}

.bg_glow {
  height: 12px;
  width: 24px;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}